
{% block title %}Reclamation index{% endblock %}

{% block body %}
    <h1></h1>


    <div class="row">
        <div class="col">

            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Table des Reclamations </h3>
                </div>
                <div class="table-responsive ">
                    <table class="table align-items-center table-flush">
                        <thead class="bg-gradient-blue ">
                        <tr>
                            <th>IdReclamation</th>
                            <th>TypeReclamation</th>
                            <th>Description</th>
                            <th>Datereclamation</th>
                            <th>Intitulereclamation</th>
                            <th>Etatreclamation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reclamation in reclamations %}
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="mb-0 text-sm" style="text-align: center">{{ reclamation.idreclamation}}</span>
                                        </div>
                                    </div>
                                </th>
                                <td style="text-align: center">
                                    {{  reclamation.typereclamation}}
                                </td>
                                <td>
                      <span class="badge badge-dot mr-4" style="text-align: center">
                        <i class="bg-danger"></i> {{   reclamation.description }}
                      </span>
                                </td>
                                <td>
                                    {{ reclamation.datereclamation ? reclamation.datereclamation|date('Y-m-d') : ''  }}
                                </td>
                                <td style="text-align: center">
                                    {{  reclamation.intitulereclamation }}
                                </td>
                                <td style="text-align: center">
                                    {{ reclamation.etatreclamation }}
                                </td>


                            </tr>
                            </td>

                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}







                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

    <style>
        .table>thead>tr>th{
            color: white;
        }
    </style>
{% endblock %}