{% extends 'baseadmin.html.twig' %}

{% block title %}Agencelocation{% endblock %}

{% block body %}
   

          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0"> Agence de location  </h3>
			   
              
            </div>
    <div class="table-responsive">
              <table class="table align-items-center table-flush">
     
             
        <tbody>
          
            <tr>
                <th>Nomagence</th>
                <td>{{ agencelocation.nomagence }}</td>
            </tr>
            <tr>
                <th>Contactagence</th>
                <td>{{ agencelocation.contactagence }}</td>
            </tr>
            <tr>
                <th>Addressagence</th>
                <td>{{ agencelocation.addressagence }}</td>
            </tr>
            <tr>
                <th>Logoagence</th>
                <td>{{ agencelocation.logoagence }}</td>
            </tr>
       </tbody>
       </table>
            </div>
         
</div>  


    {{ include('agencelocation/_delete_form.html.twig') }}

<a href="{{ path('app_agencelocation_index') }}" class="btn btn-outline-primary btn-lg btn-block " style="margin-top:1% " role="button" aria-pressed="true">back to list</a>



 

{% endblock %}
