{% extends 'baseadmin.html.twig' %}

{% block title %}Evenement index{% endblock %}


{% block body %}
    <h1></h1>


    <div class="row">
        <div class="col">

            <div class="card shadow">
                <div class="card-header border-0">
                    <h3 class="mb-0">Table des Evenements </h3>
                    <a class="btn btn-sm btn-primary " style="width: 14%; margin-left: 85%; margin-top: -3%" href="{{ path('app_evenement_new') }}">

                        + Ajouter Event
                    </a>
                </div>

                <div class="box bg-gradient-primary">
                    <select id ="dynamic_select">
                        <option> Methode Tri</option>
                        <option value="{{path('app_evenement_sort') }}">par prix</option>

                        <option  value="{{path('app_evenement_place') }}">par place</option>
                    </select>
                </div>

                {#  <form class="example" action="/evenement/search">
                    <input type="text" placeholder="Search.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>#}
                <form method= "POST">
                    <div class="input-group input-group-rounded input-group-merge">
                        <input type="text" name ="marque" class="form-control form-control-rounded form-control-prepended" placeholder="Rechercher" aria-label="Search">

                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fa fa-search"></span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="table-responsive ">
                    <table class="table align-items-center table-flush">
                        <thead class="bg-gradient-blue ">
                        <tr>
                            <th>Ideve</th>
                            <th>Intituleeve</th>
                            <th>Payseve</th>
                            <th>Prixeve</th>
                            <th>Datedebuteve</th>
                            <th>Datefineve</th>
                            <th>Addresseve</th>
                            <th>TypeEve</th>
                            <th>PhotoEve</th>
                            <th>NbplaceEve</th>
                            <th>DescriptionEve</th>
                            <th scope="col" style="text-align: center">actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for evenement in evenements %}
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <span class="mb-0 text-sm" style="text-align: center">{{ evenement.ideve }}</span>
                                        </div>
                                    </div>
                                </th>
                                <td style="text-align: center">
                                    {{  evenement.intituleeve}}
                                </td>
                                <td>
                      <span class="badge badge-dot mr-4" style="text-align: center">
                        <i class="bg-danger"></i> {{  evenement.payseve }}
                      </span>
                                </td>
                                <td>
                                    {{ evenement.prixeve  }}
                                </td>
                                <td style="text-align: center">
                                    {{  evenement.datedebuteve ? evenement.datedebuteve|date('Y-m-d') : '' }}
                                </td>
                                <td style="text-align: center">
                                    {{ evenement.datefineve ? evenement.datefineve|date('Y-m-d') : '' }}
                                </td>
                                <td style="text-align: center">
                                    {{  evenement.addresseve  }}
                                </td>
                                <td style="text-align: center">
                                    {{evenement.typeeve   }}
                                </td>
                                <td style="text-align: center">
                                    <img src="{{asset('/uploads/' ~ evenement.photoeve)}}" alt=""style="width: 80px;height:80px">
                                </td>
                                <td style="text-align: center">
                                    {{evenement.nbplaceeve }}
                                </td>
                                <td style="text-align: center">
                                    {{evenement.descriptioneve  }}
                                </td>


                                <td style="text-align: center">

                                    <a  href="{{ path('app_evenement_edit', {'ideve': evenement.ideve}) }}" class="btn btn-success " role="button" aria-pressed="true">

                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16"
                                                height="16"
                                                fill="currentColor"
                                                class="bi bi-pencil-square"
                                                viewBox="0 0 16 16"
                                        >
                                            <path
                                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                                            />
                                            <path
                                                    fill-rule="evenodd"
                                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                                            />
                                        </svg>
                                    </a>
                                    {# data-toggle="modal" data-target="#modal-notification" #}
                                    <a   class="btn btn-danger " role="button" aria-pressed="true" href="{{  path('app_evenement_show', {'ideve': evenement.ideve}) }}">

                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16"
                                                height="16"
                                                fill="currentColor"
                                                class="bi bi-trash"
                                                viewBox="0 0 16 16"
                                        >
                                            <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                                            />
                                            <path
                                                    fill-rule="evenodd"
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                            />
                                        </svg>
                                    </a>


                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}







                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .table>thead>tr>th{
            color: white;
        }
    </style>
    <style>
        form.example input[type=text] {
            margin:1rem;
            padding: 5px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 30%;
            background: #f1f1f1;
        }

        /* Style the submit button */
        form.example button {
            margin:1rem;
            float: left;
            width: 10%;
            padding: 5px;
            background: #007bff;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none; /* Prevent double borders */
            cursor: pointer;
        }

        form.example button:hover {
            background: #007bff;
        }

        /* Clear floats */
        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
    <style>


        .box {
            position: absolute;
            top: 12%;
            left: 7.5%;
            transform: translate(-50%, -50%);
        }

        .box select {
            background-color:#007bff;
            color: white;
            padding: 8px;
            width: 200px;
            border: none;
            font-size: 15px;
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
            -webkit-appearance: button;
            appearance: button;
            outline: none;
        }

        .box::before {
            content: "\f13a";
            font-family: FontAwesome;
            position: absolute;
            top: 0;
            right: 0;
            width: 10%;
            height: 100%;

            text-align:left;
            font-size: 28px;
            line-height: 45px;
            color: rgba(255, 255, 255, 0.5);
            background-color: rgba(255, 255, 255, 0.1);
            pointer-events: none;
        }

        .box:hover::before {
            color: rgba(255, 255, 255, 0.6);
            background-color: rgba(255, 255, 255, 0.2);
        }

        .box select option {
            padding: 30px;
        }
    </style>

{% endblock %}
	{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            // bind change event to select
            $('#dynamic_select').on('change', function () {
                var url = $(this).val(); // get selected value
                if (url) { // require a URL
                    window.location = url; // redirect
                }
                return false;
            });
        });
    </script>
{% endblock %}
