{% extends 'baseadmin.html.twig' %}

{% block title %}Reservationrestaurant{% endblock %}

{% block body %}
    <h1>Reservationrestaurant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idreservationrestau</th>
                <td>{{ reservationrestaurant.idreservationrestau }}</td>
            </tr>
            <tr>
                <th>Datereservationrestau</th>
                <td>{{ reservationrestaurant.datereservationrestau ? reservationrestaurant.datereservationrestau|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datedebutres</th>
                <td>{{ reservationrestaurant.datedebutres ? reservationrestaurant.datedebutres|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Datefinres</th>
                <td>{{ reservationrestaurant.datefinres ? reservationrestaurant.datefinres|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservationrestaurant_index') }}">back to list</a>

    <a href="{{ path('app_reservationrestaurant_edit', {'idreservationrestau': reservationrestaurant.idreservationrestau}) }}">edit</a>

    {{ include('reservationrestaurant/_delete_form.html.twig') }}
{% endblock %}
