{% extends 'baseadmin.html.twig' %}

{% block title %}New Ticket{% endblock %}

{%  block stylesheet %}
<link href="{{asset('backoffice/css/datepicker.css')}}" rel="stylesheet"/>
{%  endblock %}

{% block body %}
    {{ form_start(form, {attr:{novalidate:'novalidate'} }) }}
    <div class="d-flex mb-3">
        <a class="btn btn-primary mt-3" style="max-height: 35px" href="{{ path('app_ticket_index') }}"><i class="fa-solid fa-circle-left"></i></a>
        <h1 style="margin-left: 35%; color: blue">Create new Ticket</h1>
    </div>


    {{ include('ticket/_form.html.twig') }}


    {# {{ form_widget(form.prixticket, {'attr':{'class':'form-control' }}) }}
    {{ form_errors(form.prixticket, {'attr':{'class':'text-danger' }}) }}

    {{ form_widget(form.dateticket, {'attr':{'class':'form-control' }}) }}
    {{ form_errors(form.dateticket, {'attr':{'class':'text-danger' }}) }}


    {{ form_widget(form.ideve, {'attr':{'class':'form-control' }}) }}
    {{ form_errors(form.ideve, {'attr':{'class':'text-danger' }}) }} #}



    {#  <a class="btn btn-success" href="{{ path('app_ticket_index') }}">back to list</a>#}

    {{ form_end(form) }}

{% endblock %}
