

{% block stylesheet%}
<style>
.inputt[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

</style>
{% endblock %}
{{ form_start(form) }}
       {{ form_row(form.nomsponsors, {'attr': {'class': 'input3t'}}) }}
    
    {{ form_widget(form) }}
      <div style="margin:2%"> </div>
    <button class="btn btn-success btn-lg  btn-block !important"> {{ button_label|default('Save') }} <i class="ni ni-check-bold"></i></button>
{{ form_end(form) }}
