{% extends 'baseadmin.html.twig' %}

{% block title %}Locationvoiture index{% endblock %}

{% block body %}
 
<div class="row">
        <div class="col">
		
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Table des voitures </h3>
			   
            </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                
                <th>Datedebutlocation</th>
                <th>Datefinlocation</th>
                <th>Datelocation</th>
                <th>Montant</th>
                <th>Nom </th>
                <th>Marque voiture  </th>
                 
            </tr>
        </thead>
        <tbody>
        {% for locationvoiture in locationvoitures %}
            <tr>
          
                <td>{{ locationvoiture.datedebutlocation ? locationvoiture.datedebutlocation|date('Y-m-d') : '' }}</td>
                <td>{{ locationvoiture.datefinlocation ? locationvoiture.datefinlocation|date('Y-m-d') : '' }}</td>
                <td>{{ locationvoiture.datelocation ? locationvoiture.datelocation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ locationvoiture.montant }}</td>
                 <td>{{ locationvoiture.idu.nom }}</td>
                 <td>{{ locationvoiture.idVoiture.marquevoiture }}</td>  
               
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
          
          </div>
        </div>
{% endblock %}
