{% extends 'base.html.twig' %}

{% block title %}Locationvoiture{% endblock %}

{% block body %}
    <h1>Locationvoiture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idlocation</th>
                <th>Datedebutlocation</th>
                <th>Datefinlocation</th>
                <th>Datelocation</th>
                <th>Montant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for locationvoiture in locationvoitures %}
            <tr>
                <td>{{ locationvoiture.idlocation }}</td>
                <td>{{ locationvoiture.datedebutlocation ? locationvoiture.datedebutlocation|date('Y-m-d') : '' }}</td>
                <td>{{ locationvoiture.datefinlocation ? locationvoiture.datefinlocation|date('Y-m-d') : '' }}</td>
                <td>{{ locationvoiture.datelocation ? locationvoiture.datelocation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ locationvoiture.montant }}</td>
                 <td>{{ locationvoiture.idu.nom }}</td>
                <td>
                    <a href="{{ path('app_locationvoiture_show', {'idlocation': locationvoiture.idlocation}) }}">show</a>
                    <a href="{{ path('app_locationvoiture_edit', {'idlocation': locationvoiture.idlocation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_locationvoiture_new') }}">Create new</a>
{% endblock %}
/