      {% block stylesheets %}


		  <!-- Favicon -->
  <link href= "{{asset('backoffice/dashboard/img/brand/favicon.png')}}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{{asset('backoffice/dashboard/js/plugins/nucleo/css/nucleo.css')}}" rel="stylesheet" />
  <link href="{{asset('backoffice/dashboard/js/plugins/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{{asset('backoffice/dashboard/css/argon-dashboard.css?v=1.1.2')}}" rel="stylesheet" />


        {% endblock %}

        {% block javascripts %}


  <script src=" {{asset('backoffice/dashboard/js/plugins/jquery/dist/jquery.min.js')}}"></script>
  <script src=" {{asset('backoffice/dashboard/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <!--   Optional JS   -->
  <script src="{{asset('backoffice/dashboard/js/plugins/chart.js/dist/Chart.min.js')}}"></script>
  <script src=" {{asset('backoffice/dashboard/js/plugins/chart.js/dist/Chart.extension.js')}}"></script>
  <!--   Argon JS   -->
  <script src="{{asset('backoffice/dashboard/js/argon-dashboard.min.js?v=1.1.2')}}"></script>
  <script src=" https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>



  {% endblock %}


{% block body %}
<nav class="navbar navbar-horizontal navbar-expand-lg navbar-dark bg-default">
    <div class="container">
        <a class="navbar-brand" href="#">Location Voiture</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-default">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="javascript:void(0)">
                            <img src="../../assets-old/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-default" aria-controls="navbar-default" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <i class="ni ni-favourite-28"></i>
                        <span class="nav-link-inner--text d-lg-none">Discover</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="#">
                        <i class="ni ni-notification-70"></i>
                        <span class="nav-link-inner--text d-lg-none">Profile</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-link-icon" href="#" id="navbar-default_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ni ni-settings-gear-65"></i>
                        <span class="nav-link-inner--text d-lg-none">Settings</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>
 
</nav>

<div class="row  col-lg-7 col-md-8 center shadow rounded" style="background-color:#ffffffff; margin-top: 1%">
        <div class="col">
    <h1 style="margin:2%">Create new Locationvoiture</h1>

{{ form_start(form,{attr:{novalidate:'novalidate'}}) }}



    {# {{ include('locationvoiture/_form.html.twig') }} #}


   {{ form_start(form) }}
    {{ form_widget(form) }}



  <button  class="btn btn-success btn-lg  btn-block !important" >{{ button_label|default('Save') }}</button>

   









  
{{ form_end(form) }}
    {# {{ form_widget(form.montant,{'attr':{'class':'form-control'}}) }}
    {{ form_errors(form.montant,{'attr':{'class':'text-danger'}}) }} #}
  {# <a class="btn btn-secondary btn-lg btn-block " style="margin:1% " role="button" aria-pressed="true"  onclick="redirect_to_checkout()">save</a> #}
    {# <button  class="btn btn-success btn-lg  btn-block !important" onclick="redirect_to_checkout()">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}

    <a href="{{ path('app_voiture_indexFront') }}"  class="btn btn-secondary btn-lg btn-block " style="margin:1% " role="button" aria-pressed="true">back to list</a>
        </div>  </div>

{% endblock %}
<script>
        $(document).ready(function () {
            $("#date_picker_arrivee").datepicker({
                minDate: 0
            });
        });
        $(document).ready(function () {
            $("#date_picker_depart").datepicker({
                minDate: 0
            });
        });
        total_html=document.getElementById("total_value");
        days_html=document.getElementById("days");
        date_arrive_string=total_html.dataset.arrive;
        date_depart_string=total_html.dataset.depart;
        date_arrive=new Date(total_html.dataset.arrive);
        date_depart=new Date(total_html.dataset.depart);
        prix_chambre=parseFloat(document.getElementById("total_value").dataset.prix);
        difference = date_depart.getTime() - date_arrive.getTime();
        days = Math.ceil(difference / (1000 * 3600 * 24));
        total=prix_chambre*days;
        let dollarUSLocale = Intl.NumberFormat('en-US');
        currency_total=new Intl.NumberFormat("en-US", {style: "currency", currency: "USD"}).format(total);
        total_html.innerText=currency_total.toString();
        days_html.innerText=days+" days"
        console.log('date_arrive '+currency_total);
        function redirect_to_checkout(id_user,id_room){
            window.location.href = "http://127.0.0.1:8000/transaction/hotel/"+id_room+"/"+id_user+"/"+total+"/"+date_arrive_string+"/"+date_depart_string;
        }

    </script>
<script>
    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>
 