



{% block body %}
  

                
       <div bgcolor="#ffffff" style="color: #333; height: 100%; width: 100%;" height="100%" width="100%">
    <table  cellspacing="0" style="border-collapse: collapse; padding: 40px; width: 100%;" width="100%">
        <tbody>
            <tr>
                <td width="5px" style="padding: 0;"></td>
                <td style="clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 10px 0;">
                    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
                        <tbody>
                            <tr>
                                <td style="padding: 0;">
                                    <a
                                        href="#"
                                        style="color: #348eda;"
                                        target="_blank"
                                    >

                                        <img
                                            src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/09/travel-logo-design.jpg"
                                            style="width:24%"
                                           
                                        />
                                       <div style="margin-top: -3% ; margin-bottom:10%"> TRIP TO DO </div>
                                    </a>
                                    
                                </td>
                                <td style="color: #999; font-size: 15px; padding: 0; text-align: right;" align="right">
                                    Date de location:<br />
                                    {{Datelocation}}<br />
                                  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="5px" style="padding: 0;"></td>
            </tr>

            <tr>
                <td width="5px" style="padding: 0; margin: 40 auto; "></td>
                <td bgcolor="#FFFFFF" style="border: 1px solid #000; clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 0; ">
                    <table width="100%" style="background: #f9f9f9; border-bottom: 1px solid #eee; border-collapse: collapse; color: #999;">
                        <tbody>
                            <tr>
                                <td width="50%" style="padding: 20px;"><strong style="color: #333; font-size: 24px;">{{montant}} DT</strong> Paid</td>
                                <td align="right" width="50%" style="padding: 20px;">Thanks for using <span class="il">TripToDo.com</span></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding: 0;"></td>
                <td width="5px" style="padding: 0;"></td>
            </tr>
            <tr>
                <td width="50px" style="padding: 0;"></td>
                <td style="border: 1px solid #000; border-top: 0; clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 0;">
                    <table cellspacing="0" style="border-collapse: collapse; border-left: 1px solid #000; margin: 0 auto; max-width: 800px;">
                        <tbody>
                            <tr>
                                <td valign="top"  style="padding: 20px;">
                                    <h3
                                        style="
                                            border-bottom: 1px solid #000;
                                            color: #000;
                                            font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
                                            font-size: 18px;
                                            font-weight: bold;
                                            line-height: 1.2;
                                            margin: 0;
                                            margin-bottom: 15px;
                                            padding-bottom: 5px;
                                        "
                                    >
                                        Summary
                                    </h3>
                                    <table cellspacing="0" style="border-collapse: collapse; margin-bottom: 40px; width:300px">
                                        <tbody>
                                          <tr>
                                                <td style="padding: 5px 0;">La marque de voiture à louer</td>
                                                <td align="right" style="padding: 5px 0; margin-left:50%">{{marque}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px 0;">Date début location</td>
                                                <td align="right" style="padding: 5px 0;">{{Datedebutlocation}}</td>
                                            </tr>
                                              <tr>
                                                <td style="padding: 5px 0;">Date fin location</td>
                                                <td align="right" style="padding: 5px 0;">{{Datefinlocation}}</td>
                                            </tr>
                                         
                                            <tr>
                                                <td style="padding: 5px 0;">Tarif du voiture par jour</td>
                                                <td align="right" style="padding: 5px 0;">{{tarif}} DT</td>
                                            </tr>
                                            <tr>
                                                <td style="border-bottom: 2px solid #000; border-top: 2px solid #000; font-weight: bold; padding: 5px 0;">Montant finale</td>
                                                <td align="right" style="border-bottom: 2px solid #000; border-top: 2px solid #000; font-weight: bold; padding: 5px 0;">{{montant}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="5px" style="padding: 0;"></td>
            </tr>

            <tr style="color: #666; font-size: 12px;">
                <td width="5px" style="padding: 10px 0;"></td>
                <td style="clear: both; display: block; margin: 0 auto; max-width: 600px; padding: 10px 0;">
                    <table width="100%" cellspacing="0" style="border-collapse: collapse;">
                        <tbody>
                            <tr>

                            
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td width="5px" style="padding: 10px 0;"></td>
            </tr>
        </tbody>
    </table>
</div>
          
{% endblock %}
