{% block title %}{% endblock %}
{% block stylesheets %}
<link href="{{asset('frontoffice/css/reservation.css')}}" rel="stylesheet" />

{% endblock %}
{% block body %}



 {% for vol in vols %}
<div class="section">
<div class="tpd-plan">
<div class="tp-flight-plan">
<div class="container-fluid">
             <div class="crop depart">
                        <div class="context collapsed" data-toggle="collapse" data-target="#demo2">
                    <a role="button" tabindex="0" class="tog-cal itin-det-btn">
                          <i class="fa fa-chevron-up"></i>
               <i class="fa fa-chevron-down"></i>
                       </a>
                 <div class="item it-1">
                  <label class="trip-type depart">TripToDo</label>
                        <div class="route-dot">
                    <span class="point" style="--data-left:35%"></span>
          <span class="point" style="--data-left:65%"></span>
                        </div>
        <div class="airline-image">
          <div class="df-text">3 Hours</div>
<span class="img-wrapper">
        <svg class="anime-airplane">
        <use xlink:href="#airplane"></use>
       </svg>
           <span class="top-label has-stops">2 Stops <span class="stops">CDG,SAW</span></span>
             </span>
               </div>

               <div class="port-seg">
               <div class="flight-seg origin">
              <div class="time">{{ vol.tempallervol  }}</div>
            <div class="port">vol.dateallervol.numvol</div>
          <div class="name">{{ vol.destination }}</div>
            </div>
             <div class="flight-seg destination">
             <div class="time">{{ vol.tempretourvol  }}</div>
            <div class="port">vol.dateretourvol </div>
    </div>
                 </div>
</div>
      <div class="item it-2">
                          <div class="dr-row">
       <span  class="al-name">
        <a class="btn btn-danger" href="{{ path('app_reservationvol2_new',{'numvol': vol.numvol}) }}"> reserver </a>
       
       
      </span>
     <img class="airline-logo" src="https://images.ucuzabilet.com/resources/img/flights-logo/logo25x19/25px-PC.png" />
     </div>
       <div class="take-tim"></div>
     </div>
    </div>
    </div>
   </div>

  </div>
</div>


  <svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
  <symbol  id="airplane" viewBox="243.5 245.183 25 21.633">
    <g>
      <path d="M251.966,266.816h1.242l6.11-8.784l5.711,0.2c2.995-0.102,3.472-2.027,3.472-2.308
                              c0-0.281-0.63-2.184-3.472-2.157l-5.711,0.2l-6.11-8.785h-1.242l1.67,8.983l-6.535,0.229l-2.281-3.28h-0.561v3.566
                              c-0.437,0.257-0.738,0.724-0.757,1.266c-0.02,0.583,0.288,1.101,0.757,1.376v3.563h0.561l2.281-3.279l6.535,0.229L251.966,266.816z
                              "/>
    </g>
  </symbol>
</svg>
</div>
{% endfor %}

{% endblock %}

