{% extends 'baseadmin.html.twig' %}

{% block title %}New Avion{% endblock %}

{% block body %}
 <div class="row  col-lg-7 col-md-8 center shadow rounded" style="background-color:#ffffffff; margin-top: 1%">
        <div class="col">
    <h1 style="margin-top: 5%">Create new Avion</h1>
    {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
    {{ include('avion/_form.html.twig') }}
    {{ form_widget(form.marque,{'attr':{'class':'form-control'}}) }}
    {{ form_errors(form.marque,{'attr':{'class':'text-danger'}}) }}
    {{ form_widget(form.nbrplace,{'attr':{'class':'form-control'}}) }}
    {{ form_errors(form.nbrplace,{'attr':{'class':'text-danger'}}) }}

    <a class="btn btn-secondary btn-lg btn-block " style="margin:1% " role="button" aria-pressed="true" href="{{ path('app_adresse_index') }}">back to list</a>
    </div></div>
{% endblock %}
