{% extends 'baseadmin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1></h1>

    
<div class="row">
        <div class="col">
		
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">Table des adresse </h3>
              <a class="btn btn-success "href="{{ path('print') }}">PDF</a>
			    <a class="btn btn-sm btn-primary " style="width: 14%; margin-left: 85%; margin-top: -3%" href="{{ path('app_adresse_new') }}">
              
                  + Ajouter une adresse
                </a>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">paysadresse</th>
                    <th scope="col">rueadresse</th>
                    <th scope="col">contact</th>
                    
                    
                    <th scope="col" style="text-align: center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                 {% for adresse in adresses %}
				  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                     
                       
                        <div class="media-body">
                          <span class="mb-0 text-sm align-items-center" >{{ adresse.paysadresse }}</span>
                        </div>
                      </div>
                    </th>
                 
                    <td>
                      <span class="badge badge-dot mr-4" style="text-align: center !important">
                        {{ adresse.rueadresse }}
                      </span>
                    </td>
                     <td>
                      <span class="badge badge-dot mr-4" style="text-align: center !important">
                         {{ adresse.contactadresse }}
                      </span>
                    </td>
                 
                    
                     <td style="text-align: center">
                     
                      <a href="{{ path('app_adresse_edit',{'idadresse': adresse.idadresse}) }}" class="btn btn-success " role="button" aria-pressed="true">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-pencil-square"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                          />
                        </svg>
                      </a>
                      <a class="btn btn-danger " role="button"   href="{{ path('app_adresse_delete', {'idadresse': adresse.idadresse}) }}">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-trash"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                          />
                        </svg>
                      </a>
                    
                   
                    </td>
                    <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
        	
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
            	
                <div class="py-2 text-center" >
                   <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
  <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
 </svg>
              
                    <h4 class="heading mt-4"> Are you sure you want to delete this item?</h4>
              <form method="post" action="{{ path('app_adresse_delete', {'idadresse': adresse.idadresse}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adresse.idadresse) }}">
    {{adresse.idadresse}}
    <button class="btn btn-secondary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg> Delete</button>
</form>
              
</div>
                
</div>
</div>
</div>
</div>
 </tr>
                    {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
                   
                  
                 

                 
                   
                  
                </tbody>
              </table>
             
            </div>
          
          </div>
        </div>
</div>
 {% endblock %}
