<!DOCTYPE HTML>
<html>
<head>
        <title>{% block title %}Welcome!{% endblock %}</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<<<<<<< HEAD
        {% block stylesheets %}


=======

        {% block stylesheets %}
   

   
>>>>>>> origin/omarfitouri
		  <!-- Favicon -->
  <link href= "{{asset('backoffice/dashboard/img/brand/favicon.png')}}" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{{asset('backoffice/dashboard/js/plugins/nucleo/css/nucleo.css')}}" rel="stylesheet" />
  <link href="{{asset('backoffice/dashboard/js/plugins/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{{asset('backoffice/dashboard/css/argon-dashboard.css?v=1.1.2')}}" rel="stylesheet" />

<<<<<<< HEAD

        {% endblock %}




=======
   

        {% endblock %}

        {% block javascripts %}
  
<script src="{{asset('backoffice/dashboard/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>

  <script src=" {{asset('backoffice/dashboard/js/plugins/jquery/dist/jquery.min.js')}}"></script>
  <script src=" {{asset('backoffice/dashboard/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <!--   Optional JS   -->
  <script src="{{asset('backoffice/dashboard/js/plugins/chart.js/dist/Chart.min.js')}}"></script>
  <script src=" {{asset('backoffice/dashboard/js/plugins/chart.js/dist/Chart.extension.js')}}"></script>
  <!--   Argon JS   -->
  <script src="{{asset('backoffice/dashboard/js/argon-dashboard.min.js?v=1.1.2')}}"></script>
  <script src=" https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>



  {% endblock %}
>>>>>>> origin/omarfitouri
</head>
<body class="">
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="../index.html">
        <img src="backoffice/dashboard/img/brand/blue.png" class="navbar-brand-img" alt="...">
      </a>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ni ni-bell-55"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
<<<<<<< HEAD
                <img alt="Image placeholder" src="backoffice/dashboard/img/theme/team-1-800x800.jpg">
=======
                <img alt="Image placeholder" src="backoffice/dashboard/img/theme/team-1-800x800.jpg
">
>>>>>>> origin/omarfitouri
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            <a href="../examples/profile.html" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>
            <a href="../examples/profile.html" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Settings</span>
            </a>
            <a href="../examples/profile.html" class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Activity</span>
            </a>
            <a href="../examples/profile.html" class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Support</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#!" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../index.html">
                <img src="backoffice/dashboard/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item  active ">
<<<<<<< HEAD
            <a class="nav-link " href="{{path('app_utilisateur_index')}}">
              <i class="ni ni-tv-2 text-primary"></i> Liste Utilisateur
            </a>
          </li>
          <li class="nav-item  active ">
            <a class="nav-link " href="{{path('app_plat_index')}}">
              <i class="ni ni-tv-2 text-primary"></i> Liste Plat
            </a>
          </li>
          <li class="nav-item  active ">
            <a class="nav-link " href="{{path('app_commandrestau_index')}}">
              <i class="ni ni-tv-2 text-primary"></i> Liste Commande
            </a>
          </li>
          <li class="nav-item  active ">
            <a class="nav-link " href="{{path('app_sponsors_index')}}">
              <i class="ni ni-tv-2 text-primary"></i> Liste des Sponsors
            </a>
          </li>
          <li class="nav-item  active ">
            <a class="nav-link " href="{{path('app_categories_index')}}">
              <i class="ni ni-tv-2 text-primary"></i> Liste des Categoris
            </a>
          </li><li class="nav-item  active ">
            <a class="nav-link " href="{{path('app_articles_index')}}">
              <i class="ni ni-tv-2 text-primary"></i> Liste des Articles
            </a>
          </li>
        </ul>
=======
            <a class="nav-link " href="../index.html">
              <i class="fa fa-bars text-primary"></i> Menu
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{{path('app_avion_index')}}">
              <i class="fa fa-plane text-blue"></i>
			   avion
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{{path('app_adresse_index')}}">
              <i class="ni ni-pin-3 text-blue"></i> Adresse
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{{path('app_compagnieaerienne_index')}}">
              <i class="fa fa-building text-blue"></i> compagnieaerienne
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link   " href="{{path('app_vol_index')}}">
              <i class="fa fa-globe text-blue"></i> vol
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{{path('app_reservationvol_index')}}">
              <i class="fa fa-plane text-blue"></i>
			   reservationvol
            </a>
          </li>
          
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
       
        <!-- Navigation -->
       
>>>>>>> origin/omarfitouri
    
      </div>
    </div>
  </nav>
  <div class="main-content">
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="../index.html">Welcome</a>
        <!-- Form -->
        <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input class="form-control" placeholder="Search" type="text">
            </div>
          </div>
        </form>
<<<<<<< HEAD
        <!-- User -->{% if app.user %}
=======
        <!-- User -->
>>>>>>> origin/omarfitouri
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <span class="avatar avatar-sm rounded-circle">
<<<<<<< HEAD
                  <img alt="Image placeholder" src="{{asset('/uploads/' ~ app.user.photo )}}">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">{{app.user.nom}}</span>
=======
                  <img alt="Image placeholder" src="backoffice/dashboard/img/theme/team-4-800x800.jpg">
                </span>
                <div class="media-body ml-2 d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold">Jessica Jones</span>
>>>>>>> origin/omarfitouri
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>My profile</span>
              </a>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Settings</span>
              </a>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-calendar-grid-58"></i>
                <span>Activity</span>
              </a>
              <a href="../examples/profile.html" class="dropdown-item">
                <i class="ni ni-support-16"></i>
                <span>Support</span>
              </a>
              <div class="dropdown-divider"></div>
<<<<<<< HEAD
                             
   <a href="{{ path('app_logout') }}" class="dropdown-item">
                <i class="ni ni-user-run"></i>
     <span>    Logout</span>
     

               
              </a>    {% endif %}

=======
              <a href="#!" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              </a>
>>>>>>> origin/omarfitouri
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
        
        </div>
      </div>
    </div>
<div class="container-fluid mt--7">
      <!-- Table -->
  <div class="row">
        <div class="col">
<<<<<<< HEAD
             <div class="card shadow">
            <div class="card-body">
		 {% block body %}
=======
		 {% block body %}
     
     
>>>>>>> origin/omarfitouri
        {% endblock %}
       
      </div> 
    </div>
<<<<<<< HEAD
     </div> 
    </div>
     
      
   

  <!--   Core   -->
  <script src="{{asset('backoffice/dashboard/js/plugins/jquery/dist/jquery.min.js')}}"></script>
  <script src="{{asset('backoffice/dashboard/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="{{asset('backoffice/dashboard/js/argon-dashboard.min.js?v=1.1.2')}}"></script>
=======
     
      
   
 
  <!--   Core   -->
  <script src="backoffice/dashboard/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="backoffice/dashboard/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <!--   Optional JS   -->
  <!--   Argon JS   -->
  <script src="backoffice/dashboard/js/argon-dashboard.min.js?v=1.1.2"></script>
>>>>>>> origin/omarfitouri
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "argon-dashboard-free"
      });
  </script>
<<<<<<< HEAD
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <footer class="footer">
=======


      {# <footer class="footer">
>>>>>>> origin/omarfitouri
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2018 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
            </ul>
          </div>
        </div>
<<<<<<< HEAD
      </footer>
=======
      </footer> #}
>>>>>>> origin/omarfitouri
       </div>
</body>