{% extends 'baseadmin.html.twig' %}

{% block title %}Plat index{% endblock %}

{% block body %}
    <h1>Plat index</h1>
<a class="btn btn-sm btn-primary " style="width: 14%; margin-left: 85%; margin-top: -3%" href="{{ path('app_plat_new') }}">
              
                  + Ajouter une plat </a>
    <table class="table">
        <thead>
            <tr>
                <th>Idplat</th>
                <th>Nomplat</th>
                <th>Prixplat</th>
                <th>Photoplat</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plat in plats %}
            <tr>
                <td>{{ plat.idplat }}</td>
                <td>{{ plat.nomplat }}</td>
                <td>{{ plat.prixplat }}</td>
                <td><img class="rounded-circle" src="{{asset('/uploads/' ~ plat.photoplat )}}" alt=""style="width: 200px;height:200px"></td>
                <td>{{ plat.description }}</td>
                    {# <a href="{{ path('app_plat_show', {'idplat': plat.idplat}) }}">show</a>
                    <a href="{{ path('app_plat_edit', {'idplat': plat.idplat}) }}">edit</a> #}
                      
                     <td style="text-align: center">
                     
                   <a  href="{{ path('app_plat_edit', {'idplat': plat.idplat}) }}" class="btn btn-success " role="button" aria-pressed="true">

                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-pencil-square"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
                          />
                          <path
                            fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
                          />
                        </svg>
                  </a>
{# data-toggle="modal" data-target="#modal-notification" #}
                  <a   class="btn btn-warning " role="button" aria-pressed="true" href="{{ path('app_plat_delete',{'idplat': plat.idplat}) }}">
                    
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
</svg>
                   </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
